.fish-eye-text {
    display: inline-block;
    font-size: 100px;
    color:red;
    transition: all 0.3s ease-out;
  }
  
  .fish-eye-hovered {
    transform: scale(1.2); /* Adjust the scale factor as needed */
    transition: all 1.3s ease-in-out;
  }
  