@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255,255;
  /* --background-start-rgb: 152, 108, 228;
  --background-end-rgb: 120, 220, 220; */
}

@font-face {
  font-family: 'Baumans';
  src: url('/SourceSerif4-t.ttf');
}
body {
  color: #000000;
  font-family: 'Baumans';
}
