@font-face {
    font-family: 'Baumans';
    src: url('/SourceSerif4-t.ttf');
}
@font-face {
  font-family: 'Serif Italic';
  src: url('/SourceSerif4-Italic-VariableFont_opsz,wght.ttf');
}

:root {
  --a-delay: 3s;
}

body {
    margin-top:0px;
    margin-left:0px;
}

.about {
    font-family:'Baumans', sans-serif;
    margin-left:0px;
    display:flex column;
    justify-content: center;
}



.inside {
    position:absolute;
    left:10vw;
    top:10vw;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80vw;
    height:50%;
}




.intro {
  display:flex column;
  justify-content: center;
  margin-top:4vw;
  width:50%;
}

@keyframes fadeInText {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.intromap {
    height: 60vh;
}
.arr {
  fill:none;
    stroke-width:9px;
    stroke:'#000000';
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.name-title {
  /* font-size:600%; */
  font-size:100px;
  display:flex;
  width:100%;
  text-wrap:nowrap;
  justify-content: center;
  animation: fadeInText 4s ease-in-out forwards;
  white-space:nowrap;
}

@media only screen and (max-width: 800px) {
  .name-title {
    margin-top:10vw;
    font-size:60px;
  }
  .inside {
    /* overflow-x: hidden; */
    /* width: calc(100vw - 100px); */
  }
  .introtext {
    padding-left:50px;
    padding-right:50px;

  }
  .intropara {
    margin-top:50px;
  }
  .nav {
    margin-top:3vw;
    font-size:100%;
    max-width:calc(100vw - 100px);
    padding-right:10px;
    padding-left:10px;
  }
  .navlink {
    margin-left:8px;
    margin-right:8px;
    
  }
}

.introtext {
  margin-top:3vw;
  justify-content: center;
  display:flex;
  text-indent:25px;
}

.intropara {
  max-width: 600px;
  min-width:250px;
}

.foot {
  width:100%;
  bottom:0%;
  position:absolute;
  animation: fadeInText 4s ease-in-out forwards;
}


  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

