

  .blue {
    background-color: #2828A7;
    position: fixed;
    height: 0vh;
    width: 10vw;
    max-width:100px;
    z-index: 4;
    bottom: 0;
    animation: draw-blue .7s ease-out forwards;
  }
  .red {
    background-color: #C72D2D;
    position: fixed;
    top: 0%;
    left:0vw;
    height: 10vw;
    z-index: 3;
    animation: draw-red 1s ease-out forwards;
    animation-delay: .7s;
    max-height:100px;
  }

  .yellow {
    background-color: #E09B20;
    position: fixed;
    height: 0vh;
    width: 10vw;
    /* top:10vh; */
    /* left: 90vw; */
    right:0%;
    max-width:100px;
    z-index: 2;
    animation: draw-yellow .7s ease-out forwards;
    animation-delay: 1.7s; /* Delay the yellow animation by 2 seconds */
  }


  @keyframes draw-red {
    from {
      width: 0vw;
    }
    to {
      width: 110%;
    }
  }

  @keyframes draw-blue {
    from {
      height: 0vh;
    }
    to {
      height: 110%;
    }
  }

  @keyframes draw-yellow {
    from {
      height: 0vh;
    }
    to {
      height: 110%;
    }
  }