.cvbody {
    margin-left:20px;
    width:75%;
}

.bullet {
border-bottom:1px solid white;
margin-bottom:30px;
}

ul {
    list-style-type:disc;
    margin-left: 20px; 
}

li{
margin-bottom: 8px; 
}

h2 {
    font-size:250%;
}

h3 {
    font-weight:700;
    font-size:150%;
}