.footer {
    justify-content: space-around;
    display: flex;
    padding-left:20%;
    padding-right:20%;
    align-items: center;;
    height:8vw;
    max-height:80px;
    border-top: 1px solid black;
    background-color: aliceblue;
}