
@font-face {
    font-family: 'Serif Bold';
    src: url('/SourceSerif4_18pt-Bold.ttf');
}

.footer {
    justify-content: center;
    display: flex;
    /* padding-left:40%; */
    /* padding-right:40%; */
    align-items: center;;
    height:80px;
    font-size:100%;
    /* border-top: 2px solid black; */
    /* background-color: aliceblue; */
}

.footerlink {
    margin-left:10px;
    margin-right:10px;
    font-family: 'Baumans';
    
}