.landing {
    width:100%;
    height:100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
} 
  
.projectsList {
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
}

.title {
    margin-top:1%;
    display:flex;
    justify-content:center;
}

.name-title {
    font-size:140px;
}

.solid-scroll {
    margin-right:10px;
    text-shadow:
       3px 3px 0 #606060,
     -1px -1px 0 #606060,  
      1px -1px 0 #606060,
      -1px 1px 0 #606060,
       1px 1px 0 #606060;
}

.stroke-scroll {
    color:#808080;
   text-shadow:
       3px 3px 0 #000000,
     -1px -1px 0 #000000,  
      1px -1px 0 #000000,
      -1px 1px 0 #000000,
       1px 1px 0 #000000;
}

.second-scroll {
    color:#202020;
   text-shadow:
       3px 3px 0 #606060,
     -1px -1px 0 #606060,  
      1px -1px 0 #606060,
      -1px 1px 0 #606060,
       1px 1px 0 #606060;
}
.scroll {
    display: flex;
    overflow: hidden;
}

.scroll p {
    font-size: 150px;
    white-space: nowrap;
    animation: scrollText 24s linear infinite; /* Adjust duration as needed */
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}


.middle {
    top:3%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    position:relative;
    width:80%;
    left:10%;
}

.intro {
    width:30%;
    position:relative;
}

.cv-hint {
    position:relative;
    font-size:20px;
    right:5%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.exp-hint {
    margin-bottom:10px;
}

.cv {
    margin-top: 8%;
    margin-left:6%;
}